<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.youa.mobile"
    android:versionCode="27"
    android:versionName="1.3.3" >

    <application
        android:name=".LehoApp"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <!-- zhanghy begin -->
        <activity
            android:name=".input.InputTextContentPage"
            android:configChanges="navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" >
        </activity>
        <activity
            android:name=".friend.friendsearch.FriendSearchResultActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".information.MySelfPersonnalInforPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".jingxuan.TagClassFeedPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".jingxuan.JingXuanPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Transparent" >
        </activity>
        <activity
            android:name=".LehoTabActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".boutique.WaterfallPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".more.BrowserModlePage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".more.LocationSettingPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".more.NewsSettingsPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
<!--         <activity
            android:name=".more.SyncPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity> -->
        <activity
            android:name=".life.DistricFeedPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".location.MapPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".location.ShopMapPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        
        <activity
            android:name=".location.SearchLocationPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <!-- ninghl begin -->
        <activity
            android:name=".PreparePage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".input.ReceiveFromOutsidePage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.SEND" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <data android:mimeType="image/*" /> -->
            <!-- </intent-filter> -->
        </activity>
        <!--<activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity> -->
        <activity
            android:name=".content.WXShareMainPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="startlh" />
            </intent-filter>
        </activity>
        <activity
            android:name=".content.MyPreferPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".content.MySharePage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".content.HistoryPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".content.FeedSearchActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".information.UserInfoPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".information.PersonnalInforPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".information.PersonalEditPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".information.OwnFeedPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".information.EnjoyFeedPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".information.AttentUserListPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".information.RegionSelectPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" >
        </activity>
        <activity
            android:name=".common.widget.TakePicturePage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/takedialog_theme" >
        </activity>
        <activity
            android:name=".common.widget.HintPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/hintdialog_theme" >
        </activity>
        <activity
            android:name=".information.ModifyPassPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait" >
        </activity>

        <receiver android:name=".ReStartReceiver" >
            <intent-filter>
                <action android:name="com.youa.mobile.restart" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".information.FriendListPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <!-- ninghl end -->
        <activity
            android:name=".friend.FriendFeedActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".circum.CircumFeedActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".friend.friendmanager.FriendManagerActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".friend.friendsearch.FriendSearchActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".content.ContentOriginActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".content.ContentTranspondActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.first_content.FirstContentActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".content.ShareFeedPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/takedialog_theme" >
        </activity>
        <activity android:name=".test.TestActvity" >
        </activity>
        <!-- login -->
        <activity
            android:name=".login.loginRegistPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".login.LoginPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".login.LoginThirdCallbackPage"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="sina.com"
                    android:scheme="lehosns" />
                <data
                    android:host="auth.qq.com"
                    android:scheme="lehosns" />
                <data
                    android:host="renren.com"
                    android:scheme="lehosns" />
            </intent-filter>
        </activity>
        <!--
		<activity android:name=".login.BindingLehoAccountPage"
			android:configChanges="keyboardHidden|navigation|orientation"
			android:windowSoftInputMode="adjustResize" android:theme="@android:style/Theme.NoTitleBar"
			android:screenOrientation="portrait">
		</activity>
        -->
        <activity
            android:name=".login.ThirdUserInfoConfirm"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.tencent.tauth.TAuthView"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTask" >

            <!--
            <intent-filter>  
			    <action android:name="android.intent.action.VIEW" />  
			    <category android:name="android.intent.category.DEFAULT" />  
			    <category android:name="android.intent.category.BROWSABLE" />  
			    <data android:scheme="tencentauth"/>   
			</intent-filter>  
            -->
        </activity>
        <activity
            android:name=".webshop.WebShopPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".login.ThirdLoginWebPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <!-- android:windowSoftInputMode="stateVisible|adjustResize" -->
        <!-- login -->
        <!-- news -->
        <activity
            android:name=".news.AddMePage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".news.SayMePage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".news.FavoritePage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".news.NewsMainPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".news.CommentDialogPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/takedialog_theme" >
        </activity>
        <activity
            android:name=".news.FavoriteDialogPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/takedialog_theme" >
        </activity>
        <activity
            android:name=".news.FavoritePeopleListPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- news -->
        <!-- input -->
        <activity
            android:name=".input.SaveDraftDialogPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/takedialog_theme" >
        </activity>
        <activity
            android:name=".input.InputWordsLimitDialogPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/takedialog_theme" >
        </activity>
        <activity
            android:name=".input.QuitDialogPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/takedialog_theme" >
        </activity>
        <activity
            android:name=".input.PublishPage"
            android:configChanges="navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".input.ConsumerExperiencePage"
            android:configChanges="navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" >
        </activity>
        <activity
            android:name=".input.ForwardPage"
            android:configChanges="navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" >
        </activity>
        <activity
            android:name=".input.CommentPage"
            android:configChanges="navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" >
        </activity>
        <activity
            android:name=".input.SearchTopicPage"
            android:configChanges="navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" >
        </activity>
        <!-- input -->

        <activity
            android:name=".common.util.picture.ViewPicturePage"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="com.youa.mobile.viewpicture" />
            </intent-filter>
        </activity>
        <activity android:name=".life.TestActivity3" >
        </activity>
        <activity
            android:name=".more.MoreMainPage"
            android:configChanges="navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" >
        </activity>
        <activity
            android:name=".more.AboutPage"
            android:configChanges="navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" >
        </activity>
        <activity
            android:name=".more.FeedbackPage"
            android:configChanges="navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" >
        </activity>
        <activity
            android:name=".more.SyncSettingPage"
            android:configChanges="navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" >
        </activity>
        <!--
		<activity android:name=".home.TopicSubPage"
			android:configChanges="keyboardHidden|navigation|orientation"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
		</activity>
        -->
        <activity
            android:name=".ExitPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/takedialog_theme" >
        </activity>
        <activity
            android:name=".more.ExitUserPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/takedialog_theme" >
        </activity>
        <activity
            android:name=".login.PleaseRegPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/takedialog_theme" >
        </activity>
        <activity android:name=".more.TestActivity4" >
        </activity>
        <!-- life -->
        <activity
            android:name=".life.FindLifeMainPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".life.FindLifeMainPageTemp"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".life.SuperPeoplePage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".life.SuperPeopleAllPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".life.SearchPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".life.DistrictPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".life.DistrictFeedPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".life.ShareClassifyPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".life.CommonFeedPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".life.SupperPeopleClassifyPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".life.ClassifySuperPeoplePage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- life -->
        <activity
            android:name=".theme.TopicFeedPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <service
            android:name=".UpdateService"
            android:enabled="true"
            android:process="com.youa.mobile.UpdateService" />

        <activity
            android:name="com.feedback.ui.SendFeedback"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.feedback.ui.FeedbackConversations"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.feedback.ui.FeedbackConversation"
            android:configChanges="keyboard"
            android:screenOrientation="portrait" >
        </activity>

        <receiver android:name=".friend.ThemeBroadCastReceiver" >
            <intent-filter>
                <action android:name="com.youa.mobile.user_topic_change" />
                <action android:name="com.youa.mobile.user_district_change" />
                <action android:name="com.youa.mobile.user_count_needupdate" />
            </intent-filter>
        </receiver>
        <!--
		<receiver android:name=".SmsReceiver"> 
		    <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />   
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>   
        </receiver> 
        -->
        <activity
            android:name=".common.util.picture.ImageBrowserPage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/base_image_browser_theme" >
        </activity>
        <activity
            android:name=".life.guide.FindLifeMainGuidePage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".life.guide.SuperPeopleGuidePage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".life.guide.TopicSubGuidePage"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.umeng.fb.ui.SendFeedback"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.umeng.fb.ui.FeedbackConversations" />
        <activity
            android:name="com.umeng.fb.ui.FeedbackConversation"
            android:configChanges="keyboard" />

        <!-- test：4f3c75b15270157ee8000036 -->
        <!-- release：4efeb439527015222200002e -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="4efeb439527015222200002e" />
        <!-- Channel_ID -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="leho" />
    </application>

    <uses-sdk android:minSdkVersion="7" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />
    <!--
        <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
		<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
	    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"></uses-permission>
	    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_SMS"/> -->
    <!-- ShopWebView 中电话号码，直接弹出并显示要拨打的电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.GET_TASKS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
	<uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
</manifest>